html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; outline:0; background:transparent;
  /*vertical-align: baseline;*/
}

/* lists */
.l1, .l1 li, .l2, .l2 li { width: 100%; float: left; display: block; position: relative; }
.l2,.l2 li { width: auto; }

/* floats */
.fL { float: left; }
.fR { float: right; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 2;
}

header h1 {
  padding: 10px 0 0 10px;
}

header ul {
  padding: 10px 10px 0 0;
}

header ul li {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

header ul li:first-child {
  border: none;
}

header ul li a {
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}

header input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* content */
section {
  padding: 80px 20px 50px;
  border-top: 1px solid #ccc;
  font-size: 20px;
  line-height: 24px;
}

section:after {
  content: "";
  display: block;
  clear: both;
}

section img {
  width: 44%;
  margin: 0 0 10px 4%;
}

section p {
  padding: 0 0 20px;
}

@media screen and (max-width: 767px) {
  header .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #ccc;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #ccc;
  }

  header .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    transition: all 500ms ease;
    transform: translate(100%, 0);
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    transition: all 500ms ease;
    transform: translate(100%, 0);
  }

  header ul.l2 {
    padding: 0;
  }

  header ul.l2 li {
    width: 100%;
    padding: 0;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header ul.l2 li a {
    padding: 15px 10px;
  }

  /* checked nav */
  #control-nav:checked ~ .control-nav-close {
    transform: translate(0, 0);
  }

  #control-nav:checked ~ nav {
    transform: translate(0, 0);
  }
}
